@page
@model warehouse_app.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Warehouse App</h1>

<h3>@Localizer["public"]</h3>

<a class="nav-link text-dark" asp-area="" asp-page="/WaterType/Index">WaterType</a>

<h3>@Localizer["logged_users_only"]</h3>
<a class="nav-link text-dark" asp-area="" asp-page="/Anion/Index">@Localizer["anion"]</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Cation/Index">@Localizer["cation"]</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Company/Index">@Localizer["company"]</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Delivery/Index">@Localizer["delivery"]</a>
<a class="nav-link text-dark" asp-area="" asp-page="/DeliveryDetails/Index">@Localizer["delivery_details"]</a>
<a class="nav-link text-dark" asp-area="" asp-page="/PackagingType/Index">@Localizer["packaging_type"]</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Sale/Index">@Localizer["sale"]</a>
<a class="nav-link text-dark" asp-area="" asp-page="/SaleDetails/Index">@Localizer["sale_details"]</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Water/Index">@Localizer["water"]</a>

